:root {
    --a4-width: 210mm;
    --a4-height: 297mm;
    --page-margin: 15mm;
}

* {
    box-sizing: border-box;
}

html {
    background: #f0f0f0;
}

body {
    font-size: 9pt;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    width: var(--a4-width);
    min-width: var(--a4-width);
    margin: 0 auto;
    background: #fff;
    color: #525252;
    padding: var(--page-margin);
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
}
strong {
    color: #444;
}
h1 {
    margin-top: 0
}
h2 {
    border-top: 1px solid #eee;
    padding-top: .25rem;;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    body {
        width: var(--a4-width);
        height: var(--a4-height);
        margin: 0;
        padding: var(--page-margin);
    }

    article {
        page-break-inside: avoid;
    }
}

@media screen {
    body {
        xbox-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin: 2rem auto;
    }
}

@media screen and (max-width: 210mm) {
    body {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
}
/* 
article {
    position: relative;
    padding-left: 160px;
    margin-bottom: 3rem;
}
article .company-info {
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
    width: 180px;
    text-align: left;
}
.company-info h4 {
    margin: 0 auto;
    font-size: 1.17em;
} */
 h1 {
    margin-bottom: 0;
}
h1 + p {
    margin-top: 0;
}
h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}
h4 { display: inline;}

a {
    color: #999;
    text-decoration: none;
}
header { position: relative; }
header section {
    position: absolute;
    bottom: 0;
    right: 0;
}
header section ul,
section#skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills li {
    display: inline;
}

#skills li:after {
    content: ", ";
}

#skills li:last-child:after {
    content: "";
}

.employment-dates::before {
    content: "—";
}
.employment-dates::after {
    content: "|";
}
header p,
.company-info {
    color: #999;;
}
