/*
:root{
    --color-accent-3: hsl(234, 89%, 74%);
    --color-accent-4: hsl(243, 75%, 58%);
    --color-accent-5: hsl(245, 58%, 51%); 
    --color-accent-6: hsl(244, 55%, 41%); 
  }

:root{
  --color-accent-3: #009ca6;
  --color-accent-4: #009ca6;
  --color-accent-5: #00757c;
  --color-accent-6: #00757c;
}
*/
